@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-image: linear-gradient(120deg, #65f685, #5339c5);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}


 /********************** header ************/
.header {
    font-size: 1.5rem;
}

.header,
.add-item {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, .todo-button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;
}

button {
    color: #5339c5;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background: #5339c5;
    color: white;
}


select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    color: #5339c5;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.select::after{
    content:"\25BC";
    position: absolute;
    background: #5339c5;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}

.select:hover::after {
    background: white;
    color: #5339c5;
}

.clear {
    position: absolute;
    top: 0;
    padding-left: 80%
}

#date {
    position: absolute;
    bottom: 0;
}

 /********************** To Dos ************/

#list {
    min-width: 30%;
}

.item {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

.item li {
    flex: 1;
}

.text {
    background: white;
    color: black;   
    min-width: 50%;
    text-align: center;
}
